@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url(./tabs.css);
@import url(./awesome.css);
@import url(./pricing.css);
@import url(./customers.css);
@import url(./stylish.css);
@import url(./contact.css);
@import url(./banner.css);
@import url(./footer.css);

header{
	width: 1170px;
	background: #000000;
	display: flex;
	text-align: center;
	height: 75px;
	margin: auto;
	justify-content: center;
	align-items: center;
}
.img__logo{
	height: 30.69px;
}
.menu{
	display: flex;
	justify-content:space-around;
	margin-left: 170px;
	width: 570px;
}
li{
	list-style-type: none;
}
.ul__menu2{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	
	margin: auto;
	justify-content: center;
	
	color: #FFFFFF;
	text-decoration: none;
}
.ul__menu2:hover{
	border-bottom: 2px solid blue;
}




