@import url(./font.css);
@import url(./banner.css);
@import url(./features.css);
@import url(./works.css);
@import url(./team.css);
@import url(./testimonials.css);
@import url(./download.css);
@import url(./footer.css);

body{
	max-width: 1170px;
	margin: 0 auto;
}
html{
scroll-behavior: smooth;
}