.banner{
	background-image: url(./img.png);
	height: 800px;
	background-repeat: no-repeat;
	mix-blend-mode: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header{
	max-width: 1170px;
	display: flex;
	flex-wrap: wrap;
	height: 100.95px;
	justify-content: space-around;
	align-items: center;
}
.banner__br{
	border-bottom: 1px solid #BABBC5;
	width: 1000px;
	margin: auto;
	margin-top: -30px;
}
.logo{
	width: 270px;
	height: 100.95px;
	text-align:center;
	padding-left: 30px;
}
.menu{
	Width: 670px;
	height: 63px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
li{
	list-style-type: none;
}
.banner__text{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: auto;
	padding-left: 40px;
	padding-right: 40px;
}
.banner__h1{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 75px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	
	color: #FFFFFF;
}
.banner__h4{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;
	
	color: #FFFFFF;
	margin-top: 30px;
}
.banner__button{
	margin-top: 50px;
	background: #FF4343;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	
	color: #FFFFFF;
	width: 370px;
	height: 80px;
	border: none;
	justify-content: center;
}
.ul__menu2{
	text-decoration: none;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	
	color: #FFFFFF;
}
.ul__menu2:hover{
	border-bottom: 2px solid wheat;
}
