.footer__h4{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	
	color: #FFFFFF;
	justify-content: center;
}
.footer__h5{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
   display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	
	color: #FFFFFF;
	justify-content: center;
}
.footer__container{
	margin-top: 70px;
	height: 250px;
	background: #353C65;
	display: flex;
	max-width: 1170px;
	justify-content: space-around;
	
}
.footer__content{
	padding-top: 70px;
	width: calc(1170px/3);
}
.footer__bar{
	border: 1px solid #C6CBCD;
	color: #C6CBCD;
	margin-right: 15px;

}
.footer__social{
	width: 20%;
}

.footer__set{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.footer__text2{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-transform: capitalize;
	justify-content: center;
	width: 400px;
	text-align: center;
	color: #808080;
}
.footer__container2{
	display: flex;
	justify-content: center;
	height: 90px;
	background: #2C3154;
}
.footer__text2::after{
	content: "By Kamal Chaneman";
	color: aliceblue;
	padding-left: 5px;
}
.footer{
	margin-bottom: 30px;
}