.team__h3{
	font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		display: flex;
		align-items: center;
		text-transform: capitalize;
	
		color: #2D3033;
}
.team__h4{
	font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #FF4343;
}
.team__h5{
	font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #6C7279;
}
.team__bar{
	border: 1px solid #C6CBCD;
	color: #C6CBCD;
	text-align: center;
}
i{
	display: flex;
	justify-content: center;
align-items: center;
text-align: center;
padding: 10px;
}
.team{
	display: flex;
	width: 1000px;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	margin-top: 50px;
}
.team__content{
	display: flex;
	width: 25%;
	flex-direction: column;
	padding: 20px;
}
.team__text{
	display: flex;
flex-direction: column;
}