.testimonials__h2{
	font-family: 'Cardo';
	font-style: italic;
	font-weight: 400;
	font-size: 36px;
	line-height: 49px;
	display: flex;
	align-items: center;
	text-transform: capitalize;
	
	color: #FFFFFF;
	margin: auto;
	width: 471px;
}
.testimonials__h6{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 15px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	padding-left: 55px;
	
	
	color: #FFFFFF;
}
.testimonials__text{
	background: #5C3249;
	height: 490px;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.testimonials{
	display: flex;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	
}
.testimonials__content{
	width: calc(1170px/2);
	height: 490px;
}
.testimonials__img{
	background: url(./bg.png);
	height: 490px;
	object-fit: cover;
}
.dots{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.slide{
	margin: 10px;
	border: 1px solid #7E5D6F;
	width: 14px;
	height: 14px;
}
.slide:nth-child(2){
	background: #7E5D6F;
}