.works{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
}
.works__img{
	width: 25%;
}

.img__work{
	width: calc(1170px/4);
	border: 2px solid #FFFFFF;
	margin: 0 auto;
}

.works__h{
	margin-top: -70%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	justify-content: center;
	
	color: #FFFFFF;
}
.works__h5{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	
	color: #FFFFFF;
	margin-top: 50px;
}
.img__work3a{
	margin-top: -100%;
}