h3{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	display: flex;
	align-items: center;
	
	color: #000000;
}
h5{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	
	color: #000000;
	width: 400px;
}
img {
	padding-left: 50px;
	padding-top: 50px;
}
.tabs__buttom{
	background: #EC7979;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	
	color: #FFFFFF;
	width: 270px;
	height: 58px;
}
.tabs__text{
	display: inline-block;
	text-align: left;
	margin: opx auto;
}
.content{
	max-width: 1170px;
	margin: 0px auto;
	padding: 50px 0;
}
.tabs{
	margin: 0px auto;
}
.tabs__items{
	display: flex;
}
.tabs__item{
	flex: 0 1 33.333%;
	height: 19px;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	
	text-decoration: none;
	display: flex;
	
	font-family: 'Open Sans';
	font-style: normal;
	color: #333333;
}
.tabs__body{
text-align: center;
}
.tabs__block{
	padding: 20px;
	font-size: 18px;
	line-height: 24px;
	display: none;
	box-sizing: border-box;

	width: 1170px;

	border: 1px solid #C6CBCD;
}
.tabs__block:target{
	display: block;
}