.cocntainer{
	
	max-width: 1170px;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
}
.cocntainer__content{
	width: 1170px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 40px;
}
.container__group{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.container__title{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	text-align: center;
	
	color: #000000;
}

.container__separator{
	width: 170px;
	border: 1px solid #EC7979;
}
.container__article{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	text-align: center;
	
	color: #86878B;
}
.ul__h5{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	text-align: center;
	
	color: #000000;
}
.ul__h4 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	align-items: center;
	text-align: center;
	text-transform: capitalize;

	color: #000000;

	margin-bottom: 30px;
	margin-top: 30px;
}
li {
	list-style-type: none;
}
.ul1 {
	width: 350px;
	height: 383px;
}

.ul2 {

	width: 350px;
	height: 383px;
}

.ul3 {
	width: 350px;
	height: 383px;
}
.container__ul {
	text-align: center;
	display: flex;
	justify-content: center;
}

