@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url(./tabs.css);
@import url(./awesome.css);
@import url(./pricing.css);
@import url(./customers.css);
@import url(./stylish.css);
@import url(./contact.css);
@import url(./banner.css);
@import url(./footer.css);

header{
	width: 100%;
	background: #000000;
	display: flex;
	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding: 0px;
	margin: 0 auto;
}

.img__logo {
	padding-top: 15px;
	padding-bottom: 15px;
}

.header__burger {
	display: none;
}

#burger,
[for=burger] {
	display: none;
}

.header__menu{
	display: flex;
}

.menu{
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
}

li{
	list-style-type: none;
}

.ul__menu2{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	margin: auto;
	justify-content: center;
	color: #FFFFFF;
	text-decoration: none;
	width: 113px;
	height: 75px;
}

.ul__menu2:hover{
	max-width: 134px;
	max-height: 100px;
	background: #EC7979;
}

.ul__menu2:active{
	background: #AB4949;
}

html{
	scroll-behavior: smooth;
	margin: 0 auto;
	padding: 0px;
}

body{
	margin: 0 auto;
	padding: 0px;
}

@media (max-width: 1024px) and (min-width:768px) {
	.img__logo{
		height: 31px;
	}
}

@media (max-width: 767px) {
	.header {
		width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
		padding: 0px;
	}
logo{
	width: 50%;
	text-align: start;
}
	.img__logo {
		height: 23px;
	}

[for=burger]{
	display: block;
}

	.header__burger {
		display: block;
	}

	.header__menu {
		display: none;
	}
	.menu{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	#burger:checked + label + nav {
		display: flex;
		width: 50%;
		right: 20px;
	}
}
