@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@400;700&display=swap');

.customers{
	width: 80%;
	margin: auto;
}
.container__titlecustom{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	
	color: #000000;
	padding-top: 50px;
}
.cocntainer__customers{
	text-align: center;
	max-width: 100%;
	margin: auto;
}
.container__separatorcustom{
	width: 170px;
	border: 1px solid #EC7979;
}
.container__articlecustomer{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	text-align: center;
	
	color: #86878B;
}
.content__h5custom{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	
	display: flex;
	align-items: center;
	text-align: center;
	background: #E2E2E2;
	border-radius: 10px;
	padding: 30px;
	color: #86878B;
}

triangle-down{
	width: 30px;
	height: 20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 31px solid #E2E2E2;
	margin-left: 50px;
}

.container__custom{
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}
.cocntainer__custom1{
	display: flex;
	justify-content: space-around;
	padding: 20px;
}
.content__custom {
	padding: 20px;
}
.img__customs{
	display: flex;
	justify-content: space-around;
	
}
.img__custom{
	padding: 20px;
	width: 30%;
}
.custom__manager{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 70%;
}
.img__h4custom {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	line-height: 33px;
	font-size: 24px;
	color: #000000;
}

.img__h5custom{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	flex-wrap: wrap;
	color: #000000;
	margin-top: -20px;
}
