@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@400;700&display=swap');

.footer__set{

	display: flex;
	justify-content: space-around;
	padding-top: 30px;
	width: 40%;
	align-items: center;
	
}
footer{
	width: 100%;
	margin: 0 auto;
	height: 164px;
	background: #000000;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	justify-content: space-around;
}
i{
	width: 55px;
	align-items: center;
	display: flex;
}
.footer__h5{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	
	color: rgba(255, 255, 255, 0.5);
	padding-top: 10px;
}