@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@400;700&display=swap');

.container__pricing{
	background: #F5F5F5;
	text-align: center;
	max-width: 1170px;
	margin: auto;
	padding: 0px;
}

.pricing__title{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50px;
	color: #000000;
}

.pricing__hr{
	width: 170px;
	border: 1px solid #EC7979;
}

.pricing__article{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	text-align: center;
	color: #86878B;
}

.container__price {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.list__praice{
	display: flex;
	flex-direction: column;
	width: 28%;
	padding: 15px;
}

.ul__114{
	background: #333333;
	border: 2px solid #F5F5F5;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	height: 53.21px;
}

.ul__115{
	background: #333333;
	border: 2px solid #F5F5F5;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	height: 88.68px;
}

.ul__116{
	background: #333333;
	border: 2px solid #F5F5F5;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;
	height: 44.34px;
}

.ul__117{
	background: #FFFFFF;
	border: 2px solid #F5F5F5;
	color: #86878B;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	height: 44.34px;
}

li{
	list-style-type: none;
}

.list__praice:hover{
	transform: translatey(-20px);
	transition-duration: 2s;
	box-shadow:cadetblue;
	filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

@media (max-width: 767px) {
	.pricing__title{
		font-size: 24px;
		line-height: 28px;
	}

	.pricing__article{
		font-size: 14px;
		line-height: 16px;
	}
	
	.container__price{
		flex-direction: column;
	}

	.list__praice{
		width: 90%;
		justify-content: center;
		text-align: center;
	}

	.ul__114{
		height: 47px;
		font-size: 18px;
		line-height: 25px;
	}

	.ul__115{
		height: 78px;
		font-size: 24px;
		line-height: 28px;
	}

	.ul__116{
		height: 39px;
		font-size: 14px;
		line-height: 16px;
	}
	
	.ul__117{
		height: 39px;
		font-size: 14px;
		line-height: 16px;
	}
}