.stylish{
	margin-top: 50px;
	background-image: url(./axit/image\ \(фон\).png);
	width: 1170px;
	margin: auto;
	padding: 15px;
	height: 442px;
}
.stylish__h2{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	text-transform: uppercase;
	
	color: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 35px;

	margin: 0 auto;
}
.stylish__separator{
	width: 170px;
	border: 1px solid #FFFFFF;
}
.stylish__h5{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	
	color: #FFFFFF;
	margin-bottom: 50px;
	padding-top: 35px;
}
.stylish__button{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	justify-content: center;
	
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	margin: auto;
	background: 0;
	height: 58px;
	width: 370px;
	text-align: center;
}
.stylish__button:hover{
	background: darkslategray;
}
