@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@400;700&display=swap');

.wrapper {
	margin: 100px  auto 0;
	position: relative;
	width: 100%;
}

.slider{
	display: flex;
	width: inherit;
	height: inherit;
	position: relative;
overflow: hidden;
}
.container__custom1{
	margin: 20px;
}
.wrapper > input {
	display: none;
}

.slaides{
	height: inherit;
	position: absolute;
	width: inherit;
}
.slaide1{

}
.wrapper .controls{
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label{
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}

.wrapper label::after{
	border: 2px solid black;
	content: "";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
}

.wrapper label{
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}
.wrapper label:hover, 
#slaide1:checked ~ .controls label:nth-of-type(1)
#slaide2:checked~.controls label:nth-of-type(2)
#slaide3:checked~.controls label:nth-of-type(3){
	background: black;
}
.slaides{
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slaide1:checked ~.slider >.slaide1,
#slaide2:checked ~.slider >.slaide2,
#slaide3:checked ~.slider >.slaide3,{
	opacity: 1;
	z-index: 1;
	transform: scale (1);
}

.container__titlecustom {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 42px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
	padding-top: 50px;
}

.cocntainer__customers {
	text-align: center;
	max-width: 100%;
	margin: auto;
}

.container__separatorcustom {
	width: 170px;
	border: 1px solid #EC7979;
}

.container__articlecustomer {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	text-align: center;

	color: #86878B;
}

.content__h5custom {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	display: flex;
	align-items: center;
	text-align: center;
	background: #E2E2E2;
	border-radius: 10px;
	padding: 15px;
	color: #86878B;
}

triangle-down {
	width: 30px;
	height: 20px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 31px solid #E2E2E2;
	margin-left: 50px;
}


.img__customs {
	display: flex;
	text-align: start;
	align-items: center;
}
.img__custom {
	width: 100%;
}

.custom__manager {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

.img__h4custom {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	line-height: 33px;
	font-size: 18px;
	color: #000000;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.img__h5custom {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	color: #000000;
	margin-top: -20px;
}